<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success">
            New Recipe
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">

        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let recipe of recipes">

                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{recipe.name}}</div>
                    {{recipe.description}}

                </div>
                <img src="{{recipe.imagePath}}" style="max-height: 50px;" alt="{{recipe.name}}">
            </li>


        </ol>
        <app-recipes-item></app-recipes-item>

    </div>
</div>