<div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>
            Recipe Name
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <!-- <button type="button" class="btn btn-primary">1</button> -->
            <!-- <button type="button" class="btn btn-primary">2</button> -->

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                    <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                    <li><a class="dropdown-item" href="#">Delete Recip</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingredients
    </div>
</div>