<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" #nameInput id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group" >
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" #amountInput id="amount" class="form-control">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-success" (click)="onAddItem()">Add</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>

                </div>
            </div>
        </form>
    </div>
</div>